In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
%matplotlib inline
import json
import math

In [11]:
r = requests.get("http://www.the-numbers.com/movie/records/All-Time-Domestic-Box-Office")
soup = BeautifulSoup(r.text)

/usr/local/lib/python3.5/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [12]:
allrow = soup.findAll('tr')

In [13]:
el = allrow[1].findAll('td')
a = el[4].contents[-1]
for ch in ['$',',']:
    a = a.replace(ch,'')
a

'1122000000'

In [14]:
result = {}
yearlist = []
titlelist = []
dbo = []
ibo = []
wbo = []
result['Release year'] = yearlist
result['Title'] = titlelist
result['Domestic'] = dbo
result['International'] = ibo
result['Worldwide'] = wbo

In [15]:
for row in allrow[1:101]:
    el = row.findAll('td')
    dbonumber = el[3].contents[-1].replace(',','').strip('$')
    ibonumber = el[4].contents[-1].replace(',','').strip('$')
    wbonumber = el[5].contents[-1].replace(',','').strip('$')
    yearlist.append(el[1].contents[-1])
    titlelist.append(el[2].contents[-1].contents[-1].contents[-1])
    dbo.append(dbonumber)
    ibo.append(ibonumber)
    wbo.append(wbonumber)
print(result)

{'Domestic': ['936662225', '760507625', '658672302', '652198010', '623279547', '533345358', '483931392', '474544677', '460998007', '459005868', '448139099', '441226247', '435110554', '424668047', '423315812', '422780140', '415004880', '408992272', '408080554', '408010692', '403706375', '402111870', '400738009', '395708305', '381011219', '380529370', '380270577', '377845905', '373524485', '370782930', '368065385', '363976270', '363388255', '363070709', '356461711', '352390543', '351032910', '350126372', '342548984', '341268248', '337135885', '336530303', '336045770', '334191110', '333172112', '330360194', '330151138', '322719944', '319246193', '318604126', '317575550', '317023851', '315544750', '313774166', '312433331', '310676740', '309420425', '309205079', '306169255', '305411224', '304360277', '303003568', '301959197', '300531751', '296623634', '295983305', '293506292', '293004164', '292576195', '292324737', '292004738', '291710957', '291045518', '290271960', '290013036', '289423425', '285761243', '281723902', '281553689', '281287133', '279167575', '277322503', '274092705', '268488329', '267655011', '262030663', '261987880', '261441092', '260044825', '260000000', '259746958', '258366855', '257784718', '257730019', '256393010', '255959475', '255119788', '254464305', '251513985', '251188924'], 'Title': ['Star Wars Ep. VII: The Force Awakens', 'Avatar', 'Titanic', 'Jurassic World', 'The Avengers', 'The Dark Knight', 'Finding Dory', 'Star Wars Ep. I: The Phantom Menace', 'Star Wars Ep. IV: A New Hope', 'Avengers: Age of Ultron', 'The Dark Knight Rises', 'Shrek 2', 'ET: The Extra-Terrestrial', 'The Hunger Games: Catching Fire', "Pirates of the Caribbean: Dead Man's Chest", 'The Lion King', 'Toy Story 3', 'Iron Man 3', 'Captain America: Civil War', 'The Hunger Games', 'Spider-Man', 'Transformers: Revenge of the Fallen', 'Frozen', 'Jurassic Park', 'Harry Potter and the Deathly Hallows: Part II', 'Finding Nemo', 'Star Wars Ep. III: Revenge of the Sith', 'The Lord of the Rings: The Return of the King', 'Spider-Man 2', 'The Passion of the Christ', 'Despicable Me 2', 'The Jungle Book', 'The Secret Life of Pets', 'Deadpool', 'Inside Out', 'Transformers: Dark of the Moon', 'Furious 7', 'American Sniper', 'The Lord of the Rings: The Two Towers', 'Zootopia', 'The Hunger Games: Mockingjay - Part 1', 'Spider-Man 3', 'Minions', 'Alice in Wonderland', 'Guardians of the Galaxy', 'Batman v Superman: Dawn of Justice', 'Forrest Gump', 'Shrek the Third', 'Transformers', 'Iron Man', 'Harry Potter and the Sorcererâ\x80\x99s Stone', 'Indiana Jones and the Kingdom of the Crystal Skull', 'The Lord of the Rings: The Fellowship of the Ring', 'Suicide Squad', 'Iron Man 2', 'Star Wars Ep. II: Attack of the Clones', "Pirates of the Caribbean: At World's End", 'Star Wars Ep. VI: Return of the Jedi', 'Independence Day', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Skyfall', 'The Hobbit: An Unexpected Journey', 'Harry Potter and the Half-Blood Prince', 'The Twilight Saga: Eclipse', 'The Twilight Saga: New Moon', 'Harry Potter and the Deathly Hallows: Part I', 'The Sixth Sense', 'Up', 'Inception', 'The Twilight Saga: Breaking Dawn, Part 2', 'Harry Potter and the Order of the Phoenix', 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe', 'Man of Steel', 'Star Wars Ep. V: The Empire Strikes Back', 'Harry Potter and the Goblet of Fire', 'Monsters, Inc.', 'Home Alone', 'The Hunger Games: Mockingjay - Part 2', 'The Matrix Reloaded', 'The Twilight Saga: Breaking Dawn, Part 1', 'Meet the Fockers', 'The Hangover', 'Gravity', 'Monsters University', 'Shrek', 'The Amazing Spider-Man', 'Harry Potter and the Chamber of Secrets', 'The Incredibles', 'How the Grinch Stole Christmas', 'Jaws', 'Captain America: The Winter Soldier', 'The Hobbit: The Desolation of Smaug', 'The Lego Movie', 'Star Trek', 'I am Legend', 'The Blind Side', 'The Hobbit: The Battle of the Five Armies', 'The Hangover Part II', 'Despicable Me', 'Batman'], 'Worldwide': ['2058662225', '2783918982', '2207615668', '1670328025', '1519479547', '1002891358', '961031392', '1027044677', '786598007', '1404705868', '1084439099', '937008132', '792965326', '864868047', '1066215812', '987480140', '1069818229', '1215392272', '1151680554', '677923379', '821706375', '836519699', '1274234980', '1038812584', '1341511219', '936429370', '848998877', '1141408667', '783705001', '622420667', '974873764', '963876270', '804988255', '783770709', '853923085', '1123790543', '1514019071', '547326372', '934703179', '1021768248', '766652288', '890875303', '1163624481', '1025491110', '771172112', '868160194', '679857164', '807330936', '708272592', '582443126', '974755371', '786558145', '887217688', '718874166', '623561331', '656695615', '963420425', '572705079', '817400878', '634954103', '1110526981', '1017003568', '935083686', '706102828', '687557727', '960283305', '672806292', '731542621', '832584416', '829724737', '942943935', '720539572', '667999518', '534171960', '896911078', '559757719', '476684675', '650523427', '738576929', '689420051', '516567575', '465764086', '716392705', '743588329', '491812794', '757890267', '878979634', '614726752', '345141403', '470700000', '714401889', '960366855', '457729388', '385680446', '585532684', '305705794', '955119788', '586464305', '543495033', '411348924'], 'International': ['1122000000', '2023411357', '1548943366', '1018130015', '896200000', '469546000', '477100000', '552500000', '325600000', '945700000', '636300000', '495781885', '357854772', '440200000', '642900000', '564700000', '654813349', '806400000', '743600000', '269912687', '418000000', '434407829', '873496971', '643104279', '960500000', '555900000', '468728300', '763562762', '410180516', '251637737', '606808379', '599900000', '441600000', '420700000', '497461374', '771400000', '1162986161', '197200000', '592154195', '680500000', '429516403', '554345000', '827578711', '691300000', '438000000', '537800000', '349706026', '484610992', '389026399', '263839000', '657179821', '469534294', '571672938', '405100000', '311128000', '346018875', '654000000', '263500000', '511231623', '329542879', '806166704', '714000000', '633124489', '405571077', '390934093', '664300000', '379300000', '438538457', '540008221', '537400000', '650939197', '428828615', '376954000', '243900000', '606898042', '270334294', '190923432', '368799525', '457023240', '408132918', '237400000', '188441583', '442300000', '475100000', '224157783', '495859604', '616991754', '353285660', '85096578', '210700000', '454654931', '702000000', '199944670', '127950427', '329139674', '49746319', '700000000', '332000000', '291981048', '160160000'], 'Release year': ['2015', '2009', '1997', '2015', '2012', '2008', '2016', '1999', '1977', '2015', '2012', '2004', '1982', '2013', '2006', '1994', '2010', '2013', '2016', '2012', '2002', '2009', '2013', '1993', '2011', '2003', '2005', '2003', '2004', '2004', '2013', '2016', '2016', '2016', '2015', '2011', '2015', '2014', '2002', '2016', '2014', '2007', '2015', '2010', '2014', '2016', '1994', '2007', '2007', '2008', '2001', '2008', '2001', '2016', '2010', '2002', '2007', '1983', '1996', '2003', '2012', '2012', '2009', '2010', '2009', '2010', '1999', '2009', '2010', '2012', '2007', '2005', '2013', '1980', '2005', '2001', '1990', '2015', '2003', '2011', '2004', '2009', '2013', '2013', '2001', '2012', '2002', '2004', '2000', '1975', '2014', '2013', '2014', '2009', '2007', '2009', '2014', '2011', '2010', '1989']}

In [16]:
df = pd.DataFrame(result)
df.head(10)

,Domestic,International,Release year,Title,Worldwide
0,936662225,1122000000,2015,Star Wars Ep. VII: The Force Awakens,2058662225
1,760507625,2023411357,2009,Avatar,2783918982
2,658672302,1548943366,1997,Titanic,2207615668
3,652198010,1018130015,2015,Jurassic World,1670328025
4,623279547,896200000,2012,The Avengers,1519479547
5,533345358,469546000,2008,The Dark Knight,1002891358
6,483931392,477100000,2016,Finding Dory,961031392
7,474544677,552500000,1999,Star Wars Ep. I: The Phantom Menace,1027044677
8,460998007,325600000,1977,Star Wars Ep. IV: A New Hope,786598007
9,459005868,945700000,2015,Avengers: Age of Ultron,1404705868

In [17]:
df = df[['Release year', 'Title', 'Domestic', 'International', 'Worldwide']]
df

,Release year,Title,Domestic,International,Worldwide
0,2015,Star Wars Ep. VII: The Force Awakens,936662225,1122000000,2058662225
1,2009,Avatar,760507625,2023411357,2783918982
2,1997,Titanic,658672302,1548943366,2207615668
3,2015,Jurassic World,652198010,1018130015,1670328025
4,2012,The Avengers,623279547,896200000,1519479547
5,2008,The Dark Knight,533345358,469546000,1002891358
6,2016,Finding Dory,483931392,477100000,961031392
7,1999,Star Wars Ep. I: The Phantom Menace,474544677,552500000,1027044677
8,1977,Star Wars Ep. IV: A New Hope,460998007,325600000,786598007
9,2015,Avengers: Age of Ultron,459005868,945700000,1404705868
10,2012,The Dark Knight Rises,448139099,636300000,1084439099
11,2004,Shrek 2,441226247,495781885,937008132
12,1982,ET: The Extra-Terrestrial,435110554,357854772,792965326
13,2013,The Hunger Games: Catching Fire,424668047,440200000,864868047
14,2006,Pirates of the Caribbean: Dead Man's Chest,423315812,642900000,1066215812
15,1994,The Lion King,422780140,564700000,987480140
16,2010,Toy Story 3,415004880,654813349,1069818229
17,2013,Iron Man 3,408992272,806400000,1215392272
18,2016,Captain America: Civil War,408080554,743600000,1151680554
19,2012,The Hunger Games,408010692,269912687,677923379
20,2002,Spider-Man,403706375,418000000,821706375
21,2009,Transformers: Revenge of the Fallen,402111870,434407829,836519699
22,2013,Frozen,400738009,873496971,1274234980
23,1993,Jurassic Park,395708305,643104279,1038812584
24,2011,Harry Potter and the Deathly Hallows: Part II,381011219,960500000,1341511219
25,2003,Finding Nemo,380529370,555900000,936429370
26,2005,Star Wars Ep. III: Revenge of the Sith,380270577,468728300,848998877
27,2003,The Lord of the Rings: The Return of the King,377845905,763562762,1141408667
28,2004,Spider-Man 2,373524485,410180516,783705001
29,2004,The Passion of the Christ,370782930,251637737,622420667
...,...,...,...,...,...
70,2007,Harry Potter and the Order of the Phoenix,292004738,650939197,942943935
71,2005,"The Chronicles of Narnia: The Lion, the Witch ...",291710957,428828615,720539572
72,2013,Man of Steel,291045518,376954000,667999518
73,1980,Star Wars Ep. V: The Empire Strikes Back,290271960,243900000,534171960
74,2005,Harry Potter and the Goblet of Fire,290013036,606898042,896911078
75,2001,"Monsters, Inc.",289423425,270334294,559757719
76,1990,Home Alone,285761243,190923432,476684675
77,2015,The Hunger Games: Mockingjay - Part 2,281723902,368799525,650523427
78,2003,The Matrix Reloaded,281553689,457023240,738576929
79,2011,"The Twilight Saga: Breaking Dawn, Part 1",281287133,408132918,689420051
80,2004,Meet the Fockers,279167575,237400000,516567575
81,2009,The Hangover,277322503,188441583,465764086
82,2013,Gravity,274092705,442300000,716392705
83,2013,Monsters University,268488329,475100000,743588329
84,2001,Shrek,267655011,224157783,491812794
85,2012,The Amazing Spider-Man,262030663,495859604,757890267
86,2002,Harry Potter and the Chamber of Secrets,261987880,616991754,878979634
87,2004,The Incredibles,261441092,353285660,614726752
88,2000,How the Grinch Stole Christmas,260044825,85096578,345141403
89,1975,Jaws,260000000,210700000,470700000
90,2014,Captain America: The Winter Soldier,259746958,454654931,714401889
91,2013,The Hobbit: The Desolation of Smaug,258366855,702000000,960366855
92,2014,The Lego Movie,257784718,199944670,457729388
93,2009,Star Trek,257730019,127950427,385680446
94,2007,I am Legend,256393010,329139674,585532684
95,2009,The Blind Side,255959475,49746319,305705794
96,2014,The Hobbit: The Battle of the Five Armies,255119788,700000000,955119788
97,2011,The Hangover Part II,254464305,332000000,586464305
98,2010,Despicable Me,251513985,291981048,543495033
99,1989,Batman,251188924,160160000,411348924

In [18]:
df.to_csv('moviestats.csv')